<div class="login-page">
  <a routerLink="/">
    <img src="/assets/trello-logo.svg" class="trello-main-logo" alt="logo" />
  </a>
  <div class="form-container">
    <div class="login-header">Register to Trello</div>
    <div class="errors" *ngIf="errorMessage">{{ errorMessage }}</div>
    <form [formGroup]="form" (submit)="onSubmit()">
      <input
        formControlName="email"
        type="email"
        placeholder="Email"
        class="login-input" />
      <input
        formControlName="username"
        placeholder="Username"
        class="login-input" />
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
        class="login-input" />
      <button type="submit" class="login-submit-button">Register</button>
    </form>
    <div class="bottom-form-links">
      <a routerLink="/auth/login" class="register-link">Sign in</a>
    </div>
  </div>
</div>
