<div class="navbar-boards">
  <div class="navbar-left-side">
    <a routerLink="/" class="navbar-icon">
      <img src="/assets/home.svg" alt="home" />
    </a>
    <a routerLink="/boards" class="navbar-icon navbar-boards-icon">
      <img src="/assets/boards.svg" alt="board" />
    </a>
  </div>
  <img
    src="/assets/trello-logo-white.svg"
    class="navbar-logo"
    alt="logo-white" />
  <div class="navbar-right-side">
    <div class="navbar-icon navbar-logout-icon">
      <span role="button" (click)="onLogout()" aria-hidden="true">Logout</span>
    </div>
  </div>
</div>
