<header class="home-header">
  <a routerLink="/" class="home-header-home-link">
    <img src="/assets/trello-logo-white.svg" alt="logo" />
  </a>
  <div>
    <a routerLink="/auth/login" class="home-header-login">Login</a>
    <a routerLink="/auth/register" class="home-header-register">Register</a>
  </div>
</header>

<div class="home-hero">
  <div class="home-container">
    <div>
      <h1 class="home-title">
        Trello helps teams work more collaboratively and get more done.
      </h1>
      <p class="home-description">
        Trello’s boards, lists, and cards enable teams to organize and
        prioritize projects in a fun, flexible, and rewarding way .
      </p>
    </div>
    <div>
      <img src="/assets/hero.svg" alt="Hero" />
    </div>
  </div>
</div>

<div class="home-team">
  <div class="home-container team-container">
    <div>
      <h1 class="home-title">Work with any team</h1>
      <p class="home-description">
        Whether it’s for work, a side project or even the next family vacation,
        Trello helps your team stay organized.
      </p>
    </div>
    <div>
      <img src="/assets/work-with-any-team.png" class="team-image" alt="team" />
    </div>
  </div>
</div>

<div class="home-information">
  <div class="home-container information-container">
    <div>
      <img src="/assets/information.svg" alt="information" />
    </div>
    <div>
      <h1 class="home-title">Information at a glance</h1>
      <p class="home-description">
        Dive into the details by adding comments, attachments, due dates, and
        more directly to Trello cards. Collaborate on projects from beginning to
        end.
      </p>
    </div>
  </div>
</div>

<div class="home-workflow">
  <div class="home-container workflow-container">
    <div class="workflow-left-part">
      <h1 class="home-title">Built-In Workflow Automation With Butler</h1>
      <p class="home-description">
        Let the robots do the work! Boost spanroductivity by unleashing the
        power of automation across your entire team with Butler, and remove
        tedious tasks from your to-do lists with:
      </p>
      <ul>
        <li>Rule-Based Triggers</li>
        <li>Custom Card & Board Buttons</li>
        <li>Calendar Commands</li>
        <li>Due Date Commands</li>
      </ul>
    </div>

    <div>
      <img src="/assets/workflow.png" class="workflow-image" alt="workflow" />
    </div>
  </div>
</div>
